#search-results {
    background-image: url("iTunes-icon.png");
    background-size: auto;
    background-repeat: repeat-y;
    background-position: center center;
    min-width: 100%;
    min-height: 1000px;
}

#header {
    font-family: 'Lobster', sans-serif;
    text-shadow: 2px 2px rgb(239, 211, 211);
}

#text {
    box-shadow: 0px 0px 3px 0px whitesmoke;
}

#main {
    text-align: center;
    margin: auto;
    background-color: whitesmoke;
}

.btn-outline-danger {
    margin-bottom: 20px;
}

#user-section {
    padding-bottom: 20px;
}

.card {
    margin: auto
}

.art-and-text-container {
    display: flex;
}

.img {
    width: 200px;
    height: 200px;
    margin-top: 27px;
    margin-left: 5px;
}

.card-text-artist {}

.card-text-album {
    font-size: 14px;
    color: darkslategrey;
}